---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Contact" desc="Ways to contact Professional Tax Services">
    <main>
        <div class="p-8">
            <div class="max-w-5xl mx-auto">
                <h1 class="text-4xl font-extrabold text-brand-blue indent-0">
                    CONTACT
                </h1>

                <br />
                <br />

                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3186.8788525289524!2d-86.42863478429697!3d36.98882486475785!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8865ef521278a80d%3A0xf30b0618099534f2!2sProfessional%20Tax%20Service!5e0!3m2!1sen!2sus!4v1679283968949!5m2!1sen!2sus"
                    width="600"
                    height="450"
                    class="w-full"
                    style="border:0;"
                    allowfullscreen=""
                    loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </main>
</Layout>
