---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Privacy Policy">
    <main>
        <div class="p-8">
            <div class="max-w-5xl mx-auto indent-8">
                <h1 class="text-4xl font-extrabold text-brand-blue indent-0">
                    Privacy Policy
                </h1>

                <br />

                <p>
                    We are committed to communicating with you in a professional
                    manner and protecting your confidential information. We use
                    the information you provide (e.g. name, address, phone
                    number, email, agreement to receive newsletter/sales offers
                    etc.) to contact you to share information about our products
                    and services. We will not share your information with any
                    third party outside of our organization, other than as
                    necessary to fulfill your request. This company does not
                    sell, trade, or rent your personal information to others.
                </p>

                <br />

                <p>
                    Unless you ask us not to, we may contact you via telephone,
                    text or email in the future with news about our company or
                    information about our services. If you subscribe to our
                    newsletter, you may unsubscribe at any time, either by using
                    the unsubscribe link on the newsletter or by contacting us
                    via the email address given on our website.
                </p>

                <br />
                <br />

                <h2 class="text-xl font-bold text-brand-blue indent-0">
                    Logging and Cookies
                </h2>

                <br />

                <p>
                    When you browse our website, the following information about
                    your visit may be collected and stored: the computer's
                    Internet Protocol (IP) address (a number automatically
                    assigned to your computer when you access the Internet); the
                    domain from which you access the Internet (for example:
                    aol.com, for an America Online account), the website address
                    from which you came to our site (for example:
                    www.google.com, if you came by clicking a link from a Google
                    search); the date and time you arrived at our site and how
                    long you spent here; the name and version of your computer's
                    operating system and browser Example: Chrome/FireFox; the
                    pages you visited.
                </p>

                <br />

                <p>
                    We also may use “cookies” on this site. A cookie is a piece
                    of data stored on a site visitor's hard drive to help us
                    further determine usage of our site and sources of site
                    traffic, improve access to our site and identify repeat
                    visitors.
                </p>

                <br />
                <br />

                <h2 class="text-xl font-bold text-brand-blue indent-0">
                    Links
                </h2>

                <br />

                <p>
                    This website may contain links to other sites. Please be
                    aware that we are not responsible for the content or privacy
                    practices of such other sites.
                </p>
            </div>
        </div>
    </main>
</Layout>
