---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Services" desc="What services we offer to you?">
    <main>
        <div class="p-8">
            <div class="max-w-5xl mx-auto">
                <h1 class="text-4xl font-extrabold text-brand-blue">
                    SERVICES
                </h1>

                <br />

                <p class="indent-8">
                    At Professional Tax we have a great team of highly trained
                    CPA's, Enrolled Agents and Licensed Registered Tax Return
                    Preparers. With over 200 years combined experience and
                    thousands of hours of training, we have seen and helped
                    thousands of clients with all types of tax and accounting
                    challenges. Contact us today to see what a family owned
                    business that cares about you and your needs can do for you.
                </p>

                <br />
                <br />

                <div class="grid md:grid-cols-3 gap-8">
                    <div class="flex flex-col gap-4">
                        <img
                            class="w-full rounded"
                            src="/img/services tax preparation.webp"
                            alt="Tax Preparation"
                        />

                        <header class="text-2xl">Tax Preparation</header>

                        <p class="indent-8">
                            Professional Tax Service has over 200 years combined
                            experience in the Income Tax Preparation Business.
                            With a Professional Staff of CPA's, Enrolled Agents
                            and Licensed Registered Tax Return Preparers, we are
                            more than capable of taking care of any Individual,
                            Partnership, Corporation or Estate Tax issues. We
                            are qualified to prepare all necessary State and
                            Federal Tax returns.
                        </p>

                        <p class="indent-8">
                            No matter what your Tax Situation, Professional Tax
                            Service is the place to go for Tax Preparation
                            Assistance. Remember; it's not what you make, it's
                            what you get to keep after you pay your taxes. Great
                            People, Great Service and Honest Fair Pricing.
                        </p>

                        <p class="indent-8">
                            Let us show you what a Local, Family Owned Business
                            can do for you.
                        </p>
                    </div>

                    <div class="flex flex-col gap-4">
                        <img
                            class="w-full rounded"
                            src="/img/services bookkeeping and payroll.webp"
                            alt="Bookkeeping & Payroll"
                        />

                        <header class="text-2xl">Bookkeeping & Payroll</header>

                        <p class="indent-8">
                            Professional Tax Service is a full service
                            accounting & payroll firm. We are a Certified Quick
                            Books Pro Office. Let us help you with all your
                            payroll preparation needs. We offer both in-house
                            and online payroll preparation. You can fax or email
                            your employee hours or go online and enter the hours
                            yourself.
                        </p>

                        <p class="indent-8">
                            We are set up for direct deposit and all retirement
                            withholdings. We are a full service accounting and
                            bookkeeping office. We can pay your bills, do
                            monthly or quarterly bookkeeping, and/or provide
                            your tax accounting needs. We can prepare annual
                            income statements for any bank or loan needs along
                            with any other write-up needs.
                        </p>
                    </div>

                    <div class="flex flex-col gap-4">
                        <img
                            class="w-full rounded"
                            src="/img/services representation.webp"
                            alt="Representation"
                        />

                        <header class="text-2xl">Representation</header>

                        <p class="indent-8">
                            We Solve Tax Problems. Taxation WITH Representation.
                            Do not let the Internal Revenue Service or the State
                            of Kentucky get you down. Are you being Audited? Do
                            you owe back taxes? Are you being threatened with
                            Garnishment or Tax Liens? We can help.
                        </p>

                        <p class="indent-8">
                            We are Enrolled Agents who have earned the privilege
                            of representing taxpayers before the Internal
                            Revenue Service. An Enrolled Agent is a
                            certification that licenses us to represent you
                            before the IRS in all 50 States.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </main>
</Layout>
