---
import Nav from '../components/Nav.astro'
import Footer from '../components/Footer.astro'
import Disclaimer from '../components/Disclaimer.vue'

export interface Props {
    title?: string
    desc?: string
}

const { title, desc } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title ? title + ' - ' : ''} Professional Tax Service</title>
        {
            desc ? (
                <meta name="description" content={desc} />
            ) : (
                <meta
                    name="description"
                    content="Serving your tax needs since 1969 with over 200 years of combined experience!"
                />
            )
        }
    </head>

    <body class="overflow-x-hidden">
        <Nav />

        <slot />

        <hr />
        <Footer />

        <Disclaimer client:load />
    </body>
</html>

<style is:global>
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700,800&display=swap');

    body {
        font-family: 'Open Sans', sans-serif;
    }
</style>
